---
- name: Remove config_file_version if present (not needed in newer SSSD)
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^config_file_version\s*='
    state: absent
  become: true
  when: realm_join is changed

- name: Configure SSSD for dynamic DNS updates
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^dyndns_update\s*='
    line: "dyndns_update = True"
    state: present
  become: true
  notify: restart sssd

- name: Configure SSSD for dynamic DNS PTR updates
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^dyndns_update_ptr\s*='
    line: "dyndns_update_ptr = True"
    state: present
  become: true
  notify: restart sssd

- name: Enable offline credentials caching
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^cache_credentials\s*='
    line: "cache_credentials = True"
    state: present
  become: true
  notify: restart sssd

- name: Allow offline authentication
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^krb5_store_password_if_offline\s*='
    line: "krb5_store_password_if_offline = True"
    state: present
  become: true
  notify: restart sssd

- name: Block all AD user logins (local users only)
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^access_provider\s*='
    line: "access_provider = deny"
    state: present
  become: true
  notify: restart sssd

- name: Configure SSSD services for client (including InfoPipe for user list)
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^services\s*='
    line: "services = nss, pam, ifp"
    state: present
  become: true
  notify: restart sssd

- name: Remove user_attributes from domain section if present
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^user_attributes\s*=.*'
    state: absent
  become: true
  notify: restart sssd

- name: Add InfoPipe section if not present
  ansible.builtin.blockinfile:
    path: /etc/sssd/sssd.conf
    marker: "# {mark} ANSIBLE MANAGED BLOCK - InfoPipe"
    block: |
      [ifp]
      allowed_uids = root, sssd
      user_attributes = +telephoneNumber, +mail
    create: false
  become: true
  notify: restart sssd

- name: Enable automatic machine password renewal
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^ad_machine_account_password_renewal_opts\s*='
    line: "ad_machine_account_password_renewal_opts = 30:7"
    state: present
  become: true
  notify: restart sssd

- name: Set machine password renewal timeout
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^ad_maximum_machine_account_password_age\s*='
    line: "ad_maximum_machine_account_password_age = 30"
    state: present
  become: true
  notify: restart sssd

- name: Read SSSD config to find domain section
  ansible.builtin.shell:
    cmd: grep -oP '^\[domain/\K[^\]]+' /etc/sssd/sssd.conf | head -1
  register: sssd_domain_name
  changed_when: false
  failed_when: false
  become: true

- name: Disable user enumeration (too many users in large AD)
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^enumerate\s*='
    line: "enumerate = False"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""

- name: Set entry cache timeout for better performance
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^entry_cache_timeout\s*='
    line: "entry_cache_timeout = 3600"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""

- name: Set DNS resolver timeout (faster offline detection)
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^dns_resolver_timeout\s*='
    line: "dns_resolver_timeout = 1"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""

- name: Set Kerberos authentication timeout
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^krb5_auth_timeout\s*='
    line: "krb5_auth_timeout = 2"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""

- name: Set LDAP network timeout
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^ldap_network_timeout\s*='
    line: "ldap_network_timeout = 1"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""

- name: Set offline timeout (how long before going offline)
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^offline_timeout\s*='
    line: "offline_timeout = 5"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""

- name: Set LDAP operation timeout
  ansible.builtin.lineinfile:
    path: /etc/sssd/sssd.conf
    regexp: '^ldap_opt_timeout\s*='
    line: "ldap_opt_timeout = 1"
    insertafter: '^\[domain/{{ sssd_domain_name.stdout }}\]'
    state: present
  become: true
  notify: restart sssd
  when: sssd_domain_name.stdout != ""
