---
- name: Disconnect VPN after realm join
  ansible.builtin.shell:
    cmd: killall -SIGINT openconnect
  become: true
  failed_when: false
  when:
    - vpn_enabled | default(false)
    - vpn_connect is defined
    - vpn_connect is changed
