---
# Optional: Smart VPN auto-connect for AD login
# Only include this file if you want automatic VPN on AD login

- name: Install PAM VPN auth script from template
  ansible.builtin.template:
    src: pam_vpn_auth.sh.j2
    dest: /usr/local/bin/pam_vpn_auth.sh
    mode: '0755'
    owner: root
    group: root
  become: true
  when: vpn_auto_connect | default(false)

- name: Configure PAM to use VPN auth script
  ansible.builtin.lineinfile:
    path: /etc/pam.d/system-auth
    line: "auth optional pam_exec.so quiet /usr/local/bin/pam_vpn_auth.sh"
    insertbefore: '^auth.*sufficient.*pam_sss.so'
    state: present
  become: true
  when: vpn_auto_connect | default(false)

- name: Allow VPN script to run as root without password
  ansible.builtin.copy:
    dest: /etc/sudoers.d/pam-vpn
    content: |
      # Allow PAM VPN script to run openconnect
      ALL ALL=(root) NOPASSWD: /usr/sbin/openconnect
    mode: '0440'
    owner: root
    group: root
    validate: 'visudo -cf %s'
  become: true
  when: vpn_auto_connect | default(false)
