---
- name: Install lazyssh via go install
  ansible.builtin.shell:
    cmd: |
      export GOPATH=$HOME/go
      export PATH=$PATH:$GOPATH/bin
      go install github.com/quantumsheep/lazyssh@latest
    creates: "{{ ansible_env.HOME }}/go/bin/lazyssh"
  become: false
  when: ansible_env.HOME is defined

- name: Ensure Go bin directory is in PATH
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: 'export PATH=$PATH:$HOME/go/bin'
    create: true
  become: false
  when: ansible_env.HOME is defined
