---
- name: Read current GRUB configuration
  ansible.builtin.slurp:
    path: /etc/default/grub
  register: grub_config
  become: true

- name: Add TPM2 device parameter to GRUB_CMDLINE_LINUX if not present
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX="(.*)"$'
    line: 'GRUB_CMDLINE_LINUX="\1 rd.luks.options=tpm2-device=auto"'
    backrefs: true
  when: "'rd.luks.options=tpm2-device=auto' not in (grub_config.content | b64decode)"
  become: true
  register: grub_modified

- name: Regenerate initramfs with dracut
  ansible.builtin.command:
    cmd: dracut -f
  when: clevis_bind is changed or grub_modified is changed
  become: true
  register: dracut_result

- name: Regenerate GRUB configuration
  ansible.builtin.command:
    cmd: grub2-mkconfig -o /boot/grub2/grub.cfg
  when: grub_modified is changed
  become: true
  register: grub_result

- name: Show dracut and GRUB regeneration status
  ansible.builtin.debug:
    msg:
      - "Dracut regenerated: {{ dracut_result is changed }}"
      - "GRUB config regenerated: {{ grub_result is changed }}"
  when: dracut_result is defined or grub_result is defined

- name: Disable NetworkManager-wait-online.service
  ansible.builtin.systemd:
    name: NetworkManager-wait-online.service
    enabled: false
  become: true
